body { 
    font-family: 'Arial', sans-serif; 
    background: #764ba2; 
    padding: 20px; /* Уменьшил отступ для мобильных */
}

.container { 
    max-width: 600px; 
    margin: auto; 
    background: rgba(255, 255, 255, 0.85); 
    padding: 20px; /* Уменьшил отступ для мобильных */
    border-radius: 15px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}

h1 { 
    text-align: center; 
    color: black; 
}

.form-group { 
    margin-bottom: 15px; /* Уменьшил отступ для мобильных */
}

label { 
    display: block; 
    margin-bottom: 5px; /* Уменьшил отступ для мобильных */
    font-weight: bold; 
    color: #333; 
}

input, select { 
    width: 100%; 
    padding: 10px; /* Уменьшил отступ для мобильных */
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 14px; /* Уменьшил размер шрифта для мобильных */
}

button { 
    width: 100%; 
    padding: 10px; /* Уменьшил отступ для мобильных */
    background: #764ba2; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    font-size: 14px; /* Уменьшил размер шрифта для мобильных */
    cursor: pointer; 
    transition: background 0.3s; 
}

button:hover { 
    background: #6f3c9f; /* Изменил цвет при наведении для лучшего контраста */
}

/* Медиазапросы для улучшения адаптивности */
@media (max-width: 600px) {
    .container { 
        padding: 15px; 
    }

    h1 { 
        font-size: 24px; 
    }

    input, select, button { 
        font-size: 16px; 
        padding: 12px; 
    }
}
